@font-face {

	font-family: topsecret;
	src: url("fontes/TopSecret.ttf");
}

body {

	background-color: rgba(0,0,0,0.2);
	background-size: 100%;
}

/* Area do Cabeçalho de Azul*/

header#cabecalho {

	background-color: rgb(0,139,139);
	margin: -25px -15px 10px -15px;
	padding: 15px;
} 

header#cabecalho h1{

	font-family: topsecret;
	font-size: 40px;
	color: white;
	text-align: left;
}

div#interface {

	width: 1150px;
	background-color: white;
	margin: -25px auto 0px auto;
	padding: 15px;
	box-shadow: 0px 0px 10px black;
}

/* Area do Menu */

nav#menuIndex {
	display: block;
}

nav#menuIndex ul{
	list-style: none;
	text-transform: uppercase;
	text-align: right;
}

nav#menuIndex li {

	display: inline-block;
	background-color: transparent;
	color: white;
	padding: 6px;
	margin: -4.5px;
	font-size: 17px;
	font-family: 'Arial sans-serif';
}

nav#menuIndex a {

	color: white;
	text-decoration: none;
}

nav#menuIndex a:hover {

	color: white;
	background-color: rgba(0,0,0,0.4);
	padding: 10px;
	transition-duration:0.3s;
}

/* Corpo principal */

header.apresentacao {

	font-family: 'DejaVu Sans Condensed';
	font-style: italic;
	box-shadow: 0.5px 0.5px 0.5px rgba(0,0,0,0.1);
	padding: 10px;
	margin-bottom: 35px;
}

p.sobre {

	font-family: 'DejaVu Sans Condensed';
	text-align: justify;
	width: 1100px;
	margin-bottom: 100px;
}

img.img {

	position: absolute;
	left: 1000px;
	top: 0px;
}

div.title {

	position: relative;
}

/* Rodapé */
footer#rodape {

	background-color: rgb(0,139,139);
	color: white;
	font-weight: bold;
	width: 100.9%;
	padding: 10px;
	margin-left: -15px;
	margin-bottom: -15px;

}

footer#rodape ul {

	list-style: none;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 5px;
}

footer#rodape li {
	display: inline-block;
	font-size: 15px;
}

footer#rodape p {
	text-align: center;
	margin-bottom: -5px;
}

span#fone {

	position: relative;
	left: 20px;
}

a.redes {

	color: white;
	text-decoration: none;
}

a.redes:hover {

	text-decoration: underline;
}